* {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
}
div {
  margin-left: 150px;
  width: 200px;
  overflow: hidden;
}

.categories{
  padding: 40px;
  margin:  0px;
  float: left;
}

h1 {
  font: 400 50px/1.5 Helvetica, Verdana, sans-serif;
  text-align: center;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.items {
  padding: 40px;
  margin:  0px;
  float: left;
}

.category {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  cursor: pointer;
  padding: 7px;
  margin: 2px;
}

.category:hover {
  background-color: grey;
}

.item {
  font: 400 20px/1.5 Helvetica, Verdana, sans-serif;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

.item:hover {
  background-color: pink;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}
