* {
  font: normal 1em Helvetica, Verdana, sans-serif;
  align: center;
}

div
{
  overflow: visible;
  align: center;
  padding:0;
  margin: 0 auto;
}

h1
{
  font: bold 4em Helvetica, Verdana, sans-serif;
  text-align: center;
  background-color: rgb(173,216,230);
  color: rgb(65,105,225)
}

h2
{
  font: bold 2em Helvetica, Verdana, sans-serif;
  text-align: center;
  color: rgb(139,0,0);
}

h3
{
  font: normal 1.2em Helvetica, Verdana, sans-serif;
  padding-left: 2%;
  padding-right 2%;

/*  text-align: center;*/
}

table {
  overflow: hidden;
  display: block;
}
tr:hover {
  background-color: #ffa;
}

footer
{
  display: block;
  background: orange;
  position:fixed;
  bottom:0;
  width: 100%;
  text-align:center;
}

.menu
{
display:block;
float:left;
width: 75%;
min-width:300px;
max-width:650px;

}

.category
{
  padding: 0;
  margin: 0;
  background-color: rgb(205,150,150);
  align: center;
}

.item
{
  cursor: pointer;
  text-align: center;
  background-color: rgb(225,225,225);
  width: 100%;
}
.clickable_row
{
}
.clickable_row:onclick
{

}



.item_left
{
  cursor: pointer;
  text-align: left;
  display: block;
/*  background-color: rgb(225,225,225);*/
}

.item_right
{
  cursor: pointer;
  text-align: right;
  display: block;

/*  background-color: rgb(225,225,225); */
}

.cart
{
  display:block;
  float:right;
  background-color: green;
  width:200px;
}



/*ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
border-bottom: 1px solid #ccc;
}

li:last-child {
border: none;
}

li a {
text-decoration: none;
color: #000;
display: block;
width: 200px;

-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
-o-transition: font-size 0.3s ease, background-color 0.3s ease;
-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
font-size: 30px;
background: #f6f6f6;
}
*/
